*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Seoge UI',sans-serif;
  background: #eef8ff;
  color:#1e293b;
  background: linear-gradient(180deg,#F5FAFF,#EEF8FF);
}

a{
  text-decoration: none;
  color: inherit;
}

button{
  font-family: inherit;
}